* {
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background-color: transparent;
  border: none;
  color: black;
  height: 50px;
  width: 100px;
  padding: 0px;
  margin: 0 15px;
}
.btn img {  
    color: black;
    height: 200px;
    width: 200px; 

}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  margin-right: 15px;
  margin-left: 15px;
  position: 15px;
}

/* header */

#cabecalho{
  border: solid 1px red;
  
}

.container-fluid {
  border: solid 1px red;
}
.topo {
  width: 100%;
  margin: 20px 20px 10px 20px;
  padding: 0px 20px 0px 20px;
  position: fixed;
  display: flex;
  justify-content: center;
}

.topo img {
  height: 40px;
  width: 40px;
}


/* main */
/*main::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/img/fundo_da_tela.svg);
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  z-index: -1;
} */

#principal { 
  display: flex;
  justify-content: center;
  align-items: center;
}

.controles {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.controles img {
  height: 40px;
  width: 40px;
}


.brilho {
  position: fixed;
  top: 200px;
  bottom: 500px;
  right: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
}

.brilho img {
  height: 40px;
  width: 40px;
}


.brightness-control {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  height: 500px;
  outline: none;
  display: flex;
  flex-direction: column;
}

/* footer */
#config {
  padding-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-right: 100px;
}

.progresso {
  height: 80px;
  padding-right: 0px 20px 20px 20px;
  position: fixed;
  width: 92%;
}

.footer {
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  bottom: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px 0px 5px 20px;
}

.footer img {
  height: 40px;
  width: 40px;
}


/* ---->>>>> RESPONSIVIDADE <--------- */

/* Para telas grandes (monitores ou acima de 901px) */
@media (min-width: 901px) {
  .btn {
    width: 100px;
    height: 100px;
  }
  .img {
    width: 200px;
    height: 200px;
  }
  .topo {
    padding: 20px 20px;
    margin: 0px;
  }

  .topo img {
    margin-bottom:1500px;
    justify-content: space-between;
    align-items: start;
  } 
 
  #principal {
    margin: 100px 10px 10px 10px;
  }
  .brilho {
    top: 200px;    
  }
  .brightness-control {
    height: 400px;
    margin: 10px 20px;
  }
  #config {
    justify-content: space-evenly;
  }
  .footer {
    padding: 5px 20px;
  }
}

/* TABLET 768 X 883 */
@media (max-width: 768) and (max-height: 883px) {
  * {
    font-size: 20px;   
  }

  .img {
    width: 100px;
    height: 100px;   
  }
  .topo {
    width: 100%;
    margin: 20px 10px 10px 20px;
    padding: 0px 20px 0px 0px;
    position: relative;
    display: flex;
    justify-content: flex-start;      
  }  
  .topo img {
    position: relative;
    width: 20px;
    height: 10px;
    padding: 0px 30px 0px 0px;      
  }
 
  #principal {
    margin: 0px;
  }

  .controles {
    width: 50%;
    margin: 50px 20px 100px 10px;
  }

  .controles img {
    width: 10px;
    height: 10px;
  }

  .brilho {
    padding: 20px 10px 20px 20px;
    display: flex;
    align-items: end;
    justify-content: flex-end;
  }

  .brilho img {
    width: 20px;
    height: 10px;
  }

  .brightness-control {
    margin: 10px 0px 20px 20px;  
    padding: 0px; 

  }

  #config {
    justify-content: center;
  }

  .footer {
    padding: 10px 0;
    margin: 0px 0px 30px 0px;
    width: 100%;
  }

  .footer img {
    width: 20px;
    height: 10px;
  }

  .progresso {
    width: 93%;
  }
}

/* MIBILE L 425 x 883 px */
@media (max-width: 425px) and (max-height: 883px) {

  .topo {
    width: 40%;
  }

  .brilho {
    
  }

  .brilho img {

  }

  .footer {
    align-items: center;
    justify-content: center;
    padding: 30px;
  }

}

/* MOBILE M 375 X 883 PX */
@media (max-width: 375px) and (max-height: 883px) {
  .topo {
    width: 80%;

  }

  .brilho {
    padding: 20px;
  }

  .progresso {
    width: 92%;
  }
} 

/* MOBILE S 320 X 883 PX */
@media (max-width: 320px) and (max-height: 883) {
  .h5 {
    font-size: 1px;
  }

  .btn {
    width: 10px;
    height: 10px;
    margin: 10px;
  }

  .topo {
    flex-direction: row;
    padding: 0px;
    position: relative;
  }

  .topo img {
    width: 30px;
    height: 30px;
  }

  #principal {
    flex-direction: column-reverse;
    margin: 0px 50px;
  }

  .brilho {
    margin: 30px;
    width: 12%;
    padding: 0px;
  }

  .brilho img {
    width: 30px;
    height: 30px;
    margin-left: -15px;
  }

  .brightness-control {
    height: 300px;
    margin: 20px 25px 50px 20px;
  }

  #config {
    flex-wrap: wrap;
    margin-right: 0;
  }

  .controles {
    width: 80%;
    position: fixed;
  }

  .controles img {
    width: 30px;
    height: 30px;
  }

  .footer {
    padding: 10px;
    margin: auto;
    align-items: flex-end;
  }

  .footer img {
    width: 30px;
    height: 30px;
  }

  .progresso {
    width: 75%;
    align-items: flex-end;
  }
}
