.controlFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

/* Controles no rodapé */
.curtir {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    opacity: 0.8;
    gap: 1vw;
    
}

.curtir img {
    width: clamp(1vw, 7vw, 2vw);
    height: auto;
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: none;
}

.curtir img:hover {
    transform: scale(1.2);
    opacity: 1;
}

.controles {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 0 10%;
}

.controles img {
    width: clamp(1vw, 7vw, 2vw);
    height: auto;
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: none;
}

.controles img:hover {
    transform: scale(1.1);
    opacity: 1;
}

.configurar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3vw;
}

.configurar img {
    width: clamp(1vw, 7vw, 2vw);
    height: auto;
    opacity: 0.5;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    background: none;
}

.configurar img:hover {
    transform: scale(1.2);
    opacity: 1;
}