*{
    font-family: "Roboto", sans-serif;    
    font-weight: 1000;
    font-style: normal;      
    margin: 0;
    padding: 0;    
}

.sair div a{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
   
}

.nome{
    text-align: center;
    font-weight: 500;
    padding: 10px;    
}

.compartilhar div a p{
    padding: 10px;
    margin: 0px 10px 0px 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; 
}





  