/*////////   BARRA DE NAVEGAÇÃO*/
.nav-logo-form {
    margin: 0.5em auto;
}


/* FORMULARIO  */

fieldset {
    text-align: center;
    margin-bottom: 2em;
}


.titulo {
    color: #470094;
    font-family: "gotham black";
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 2em;
}

.botao-planos {
    background: #C1C1C1;
    border: 1px solid #868686;
    color: #0060AF;
    height: 30%;
    display: flex;
    align-items: center;
    padding: 1em 2em;
    margin: 2em auto;
    border-radius: 5px;
    box-shadow: 5px 5px 30px -20px #1e1e1e;
}

.botao-planos:hover{
    background: linear-gradient(170deg, #7B00FF, #00335C);
    border: 1px solid #470094;
    color: #FEF9FF;
    box-shadow: 0.5px 0.5px 10px 0.5px #7B00FF;
    transition: all 0.3s ease;
}


@media (max-width: 768.99px) {
    .botao-planos {
        display: grid;
        grid-template-areas: 
        "radio"
        "bold"
        "text";
        padding: 2em;
        justify-items: center;
    }

    .radio {
        grid-area: radio;
        margin-bottom: 1em;
  }

}


.radio {
    margin-right: 0.5em;
    width: 30px;
    height: 33px;
}

.bold {
    font-family: "gotham black";
    margin: auto 0.4em;
    text-transform: uppercase;
}

.text {
    margin: auto 0;
}

fieldset button {
    background: linear-gradient(170deg, #7B00FF, #470094);
    width: 100%;
    height: 50px;
    margin: 20px auto;
    color: #FEF9FF;
    padding: 10px 0;
    border-radius: 5px;
    font-family: "gotham black";
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 0.1em;
    box-shadow: 0.5px 0.5px 10px 0.5px #7B00FF;
    border: none;
}

fieldset button:hover {
    background: #0060AF;
    transition: all 0.3s ease;
    box-shadow: 0.5px 0.5px 10px 0.5px #00335C;
    
}
