fieldset {
    margin: 0 auto;
}

input {
    width: 100%;
    height: 50px;
    padding: 0.5em;
    border: 1px solid #470094;
    border-radius: 5px;
}

#seguranca-cartao {
    display: grid;
    grid-template-areas: 
    "cvc validade";
    grid-gap: 1em;
}

@media (max-width: 767.98px) {
    #seguranca-cartao {
        display: grid;
        grid-template-areas: 
        "cvc"
        "validade";
        grid-gap: 0;

    }   
}
