body {
    background: linear-gradient(180deg, #008CFF, #00335C);
    
}

.navbar {
    background: linear-gradient(360deg, #7B00FF, #470094);
    box-shadow: 10px 10px 80px -20px #FEF9FF;
    padding: 0.5rem 0;
    display: flex;
    justify-content: center;
}

#formulario {
    width: 100%;
    height: 400px;
    margin-top: 75px;
    text-align: center;
}

header {
    text-align: center;
}

h2 {
    font-size: 250%;
    color: #FEF9FF;
    font-family: "gotham black";
    text-transform: uppercase;
}




/*RODAPÉ*/
#rodape {
    background: #0E0E0E;
    padding: 2em;
    display: grid;
    grid-template-areas: "logo links contato";
    grid-gap: 1em;
    color: #FEF9FF;
    text-decoration: none;
}

#rodape .logo {
    grid-area: "logo";
}

#rodape .links ul .navbar-nav {
    grid-area: "links";
    color: #FEF9FF;
}

#rodape .links:hover {
    color: #7B00FF;
}

#rodape .contato {
    grid-area: "contato";
    display: grid;
    grid-template-areas: 
    "icones"
    "sac";
    justify-content: center;
}

#rodape .contato .icones {
    grid-area: "icones";
}

#rodape .contato .icones a img{
    width: 40px;
    height: 40px;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

#rodape .contato .sac {
    grid-area: "sac";
}

@media (max-width: 799px) {
    #rodape {
        display: grid;
        grid-template-areas:
            "logo"
            "links"
            "contato";
        padding-left: 5em;
    }

    #rodape .links {
        margin-left: 2.5em;
        margin-top: 1em;
    }


    #rodape .contato {
        margin-left: 2.5em;
        margin-top: 1em;
    }
}