/*////////   FORMULARIO DE CADASTRO*/

/* GERAL */
#formulario {
    margin-top: 75px;
    padding: 3em 2em;
}

.nav-logo-form {
    margin: 0.5em auto;
}

fieldset {
    margin: 0 auto;
}

#formulario label {
    font-size: 150%;
    color: #470094;
    font-family: "Montserrat Black";
    text-transform: uppercase;
    display: block;
    position: relative;
    margin: 1em 0 0.3em 0;
}

#formulario label:not(:first-of-type) {
    margin-top: 1rem;
}

#formulario input {
    width: 100%;
    height: 50px;
    padding: 0.5em;
    border: 1px solid #470094;
    border-radius: 5px;
}

fieldset button {
    background: linear-gradient(170deg, #7B00FF, #470094);
    width: 100%;
    height: 70px;
    margin: 40px auto;
    color: #FEF9FF;
    padding: 10px 0;
    border-radius: 5px;
    font-family: "Montserrat Black";
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 0.1em;
    box-shadow: 0.5px 0.5px 10px 0.5px #7B00FF;
    border: none;
}

fieldset button:hover {
    background: #0060AF;
    transition: all 0.3s ease;
    box-shadow: 0.5px 0.5px 10px 0.5px #00335C;
    
}



/* BARRA DE PROGRESSO */
.container #progress-bar {
    display: flex;
    margin: 1em 0 4em 0;
    justify-content: space-around;
}

.step {
    text-align: center;
    width: 100%;
}

.step p {
    font-family: "Montserrat Black";
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: x-large;
    color: #470094;
}


.step .bullet {
    background: linear-gradient(180deg, #7B00FF, #470094);
    color: #FEF9FF;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
}

.step span {
    font-family: "Montserrat Black";
    text-transform: uppercase;
    font-size: 200%;
    line-height: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}

.step .bullet::after, .step .bullet::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 310px;
    background: #470094;
    bottom: 20px;
    right: -310px;
}

.step:last-child .bullet::after, 
.step:last-child .bullet::before {
    display: none;
}

.step .bullet::after {
    background: #70A3CC;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .step .bullet::after, .step .bullet::before {
        width: 300px;
        right: -299px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .step .bullet::after, .step .bullet::before {
        width: 200px;
        right: -199px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .step .bullet::after, .step .bullet::before {
        width: 110px;
        right: -109px;
    }
}

@media (max-width: 575.98px) {
    .step .bullet::after, .step .bullet::before {
        width: 122px;
        right: -121px;
    }
}


/* VALIDAÇÃO DO FORMULÁRIO*/

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}

.required-popup::after {
    content: "*Campo Obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: darkred;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    margin-top: 1rem;
}

input.error {
    border: solid 2px #992020;
    background-color: #ccbbbb;
    color: #662020;
    border-radius: 5px;
}

input.correct {
    border: solid 2px #206620;
    color: #206620;
    border-radius: 5px;
}

.visible {
    display: block;
}