.titulo {
    color: #470094;
    font-family: "gotham black";
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
}

.botao-planos {
    background: #C1C1C1;
    border: 1px solid #868686;
    color: #0060AF;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1em 2em;
    margin: 1.5em 0;
    border-radius: 5px;
    box-shadow: 5px 5px 30px -20px #1e1e1e;
}

.botao-planos:hover{
    background: linear-gradient(170deg, #7B00FF, #00335C);
    border: 1px solid #470094;
    color: #FEF9FF;
    box-shadow: 0.5px 0.5px 10px 0.5px #7B00FF;
    transition: all 0.3s ease;
}


@media (max-width: 768.99px) {
    .botao-planos {
        display: grid;
        grid-template-areas: 
        "radio"
        "bold"
        "text";
        padding: 2em;
        justify-items: center;
    }

    .radio {
        grid-area: radio;
        margin-bottom: 1em;
  }

}

.radio {
    width: 30px;
    height: 30px;
    border: 2px solid #470094;
    outline: 0;
    appearance: none;
    border-radius: 100%;
    box-shadow: 0 0 2px #7B00FF;
    transition: .2s;
    cursor: pointer;
}

.radio:hover {
    border: 3px solid #FEF9FF;
    background-color: #008CFF;
    box-shadow: 0 0 4px #00335C;
}

.radio:checked {
    border: 4px solid #FEF9FF;
    background-color: #008CFF;
    box-shadow: 0 0 4px #00335C;
}


.bold {
    font-family: "gotham black";
    margin: auto 0.4em;
    text-transform: uppercase;
}

.text {
    margin: auto 0;
}

fieldset button {
    margin-top: 0.5em;
    margin-bottom: 1em;
}