/*///////////////////////////////////////////*/
/* FORMULARIO DE CADASTRO*/

/*//////////////////////////////////////*/
/* GERAL */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Montserrat Black', sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    background: url(../img/bg_form.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.navbar {
    background: #1e1e1e;
    height: 10vh;
    box-shadow: 10px 10px 80px -20px #0e0e0e;
    display: flex;
    padding: 0.5rem 3rem;
    justify-content: center;
}

main {
    margin-top: 2em;
}

.container {
    width: 400px;
    height: 530px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    padding: 0;
    overflow: hidden;
    margin-top: 2.5em;
}

.container form {
    width: 320px;
    position: absolute;
    top: 60px;
    left: 40px;
    transition: .5s ease-in-out;
}

h3 {
    color: #1e1e1e;
    font-size: large;
    font-family: "gotham black";
    text-transform: uppercase;
    text-align: center;
}

#form1 h4 {
    margin-top: 1em;
}

.titulo {
    color: #470094;
    font-family: "gotham black";
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 1em;
    font-size: large;
}

::placeholder {
    color: #1e1e1e;
    opacity: .4;
    font-family: "Roboto";
    font-size: small;
}

#form2 {
    left: 450px;
}

#form3 {
    left: 450px;
}

/*//////////////////////////////////////*/
/* INPUTS FORMULÁRIO */

form label {
    color: #470094;
    font-family: "Montserrat Black";
    text-transform: uppercase;
    font-size: .7em;
    margin-bottom: 0;
}

form label:not(:first-of-type) {
    margin-top: 1rem;
}

form input {
    width: 100%;
    height: 30px;
    padding: .3em .5em .3em .5em;
    border: 1px solid #470094;
    border-radius: 5px;
    font-size: 16px;
}

form input:active {
    border: 1.5px solid #206620;
}


/*//////////////////////////////////////*/
/* BOTÕES FORMULÁRIO*/
.btns-form{
    gap: 0.5em;
}

.container .btns-form button {
    background: linear-gradient(170deg, #7B00FF, #470094);
    width: 100%;
    height: 40px;
    margin-top: 1.6em;
    margin-bottom: 1em;
    color: #FEF9FF;
    border-radius: 5px;
    font-family: "Montserrat Black";
    font-size: small;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    box-shadow: 0.5px 0.5px 10px 0.5px #7B00FF;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}

.container .btns-form button:hover {
    background: #0060AF;
    transition: all 0.3s ease;
    box-shadow: 0.5px 0.5px 10px 0.5px #00335C;  
}

.container .btns-form {
    display: flex;
}

/*//////////////////////////////////////*/
/* PROGRESS BAR STEP */
.step-row {
    width: 100%;
    height: 42px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-shadow: 0 -1px 5px -1px #1e1e1e;
    position: relative;
}

.step-col {
    position: relative;
    width: 100%;
    font-size: medium;
    text-align: center;
    color: #0e0e0e;
}

.step-col img {
    width: 25px;
    height: 25px;
}

#progress {
    position: absolute;
    height: 100%;
    width: 120px;
    background: linear-gradient(to left, #7B00FF, #470094);
    transition: 1s ease-in-out;
}

#progress::after {
    content: '';
    height: 0;
    width: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    position: absolute;	
    right: -20px;
    top: 0;
    border-left: 20px solid #7B00FF;
}


/*//////////////////////////////////////*/
/* SEÇÃO PLANOS */

#form1 {
    text-align: center;
}

#form1 a {
    color: #470094;
}

#form1 a:hover {
    font-weight: bold;
    text-decoration: none;
    color: #470094;
}

.botao-planos {
    background: #C1C1C1;
    border: 1px solid #868686;
    color: #0060AF;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: .7em auto;
    border-radius: 5px;
    box-shadow: 5px 5px 30px -20px #1e1e1e;
}

#form1 button {
    margin-top: 1em;
}

.botao-planos:hover{
    background: linear-gradient(170deg, #7B00FF, #00335C);
    border: 1px solid #470094;
    color: #FEF9FF;
    box-shadow: 0.5px 0.5px 10px 0.5px #7B00FF;
    transition: all 0.3s ease;
}

.radio {
    width: 20px;
    height: 20px;
    border: 2px solid #008CFF;
    outline: 0;
    margin: auto .8em;
    appearance: none;
    border-radius: 100%;
    box-shadow: 0 0 2px #7B00FF;
    transition: .2s;
    cursor: pointer;
}

.radio:hover {
    border: 3px solid #FEF9FF;
    background-color: #008CFF;
    box-shadow: 0 0 4px #00335C;
}

.radio:checked {
    border: 4px solid #FEF9FF;
    background-color: #008CFF;
    box-shadow: 0 0 4px #00335C;
}

.tipo_plano {
    width: 150px;
}

.preco {
    display: flex;
    align-items: center;
    gap: 0.2em;
    margin-right: 0.5em;
}

.preco .bold {
    font-size: 200%;
}


.bold {
    font-family: "gotham black";
    text-transform: uppercase;
    font-size: medium;
    margin-bottom: 0;
}

.text {
    font-size: medium;
}




/*//////////////////////////////////////*/
/* SEÇÃO DADOS PESSOAIS */

#form2 h4 {
    margin-bottom: .5em;
}

#form2 input {
    margin-bottom: -.2em;
}

#endereco {
    display: grid;
    grid-template-areas: 
    "numero complemento cep";
    grid-gap: .5em;
    margin-top: .5em;
}

@media (max-width: 767.98px) {
    #endereco {
        display: grid;
        grid-template-areas: 
        "numero"
        "complemento"
        "cep";
        grid-gap: 0;
    }   
}

#campo-senha {
    display: grid;
    grid-template-areas: 
    "senha confirmar-senha";
    grid-gap: .5em;
    margin-top: .5em;
}

#cep {
    width: 130px;
}


/*//////////////////////////////////////*/
/* SEÇÃO PAGAMENTO */

#seguranca-cartao {
    display: grid;
    grid-template-areas: 
    "cvc validade";
    grid-gap: 1em;
    margin-top: .5em;
}

@media (max-width: 767.98px) {
    #seguranca-cartao {
        display: grid;
        grid-template-areas: 
        "cvc"
        "validade";
        grid-gap: 0;

    }   
}


/*/////////////////////////////////////*/
/* VALIDAÇÃO DO FORMULÁRIO*/

form .helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}

.required-popup::after {
    content: "*Campo Obrigatório";
    top: 0;
    right: 0;
    color: darkred;
    font-size: .6rem;
    width: auto;
    display: block;
}

input .error {
    border: solid 2px #992020;
    background-color: #ccbbbb;
    color: #662020;
    border-radius: 5px;
}

.correct {
    border: solid 2px #206620;
    color: #206620;
    border-radius: 5px;
}

.visible {
    display: block;
}