/*////////   GERAL */
* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', 'Montserrat Black', sans-serif;
    font-weight: 400;
    font-style: normal;
    box-sizing: border-box;
}

body {
    height: 100%;
    width: 100%;
}

a {
    text-decoration: none;
    transition: all 0.3s ease;
}

a:hover {
    text-decoration: none;
}


/*///////////////////////////////////////////*/
/*BARRA DE NAVEGAÇÃO*/
.navbar {
    background: linear-gradient(360deg, #7B00FF, #470094);
    box-shadow: 10px 10px 80px -20px #0e0e0e;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 3rem;
}


/*///////////////////////////////////////////*/
/*BOTÕES*/
.btn-preto {
    background: #1e1e1e;
    border: 2px solid #1e1e1e;
    border-radius: 5px;
    width: 100%;
    max-width: 112px;
    padding: 8px 0;
    color: #FEF9FF;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-preto:hover {
    background: #0E0E0E;
    border: 2px solid #0E0E0E;
    font-weight: bold;
}

.btn-preto:active {
    background: #008CFF;
    border: 2px solid #006692;
    color: #470094;
    font-weight: bold;
}

.btn-roxo {
    background: #7B00FF;
    border: 2px solid #7B00FF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-roxo:hover {
    background: #470094;
}

.btn-roxo2 {
    background: #470094;
    border: 2px solid #7B00FF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-roxo2:hover {
    background: #008CFF;
    border: 2px solid #470094;
    color: #470094;
}

.btn-roxo:active {
    background: #008CFF;
    border: 2px solid #008CFF;
    color: #00335C;
}

.btn-azul1 {
    background: #0060AF;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-azul1:hover {
    background: #00335C;
}

.btn-azul2 {
    background: #008CFF;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn-azul2:hover {
    background: #006692;
    border: 2px solid #008CFF;
}



/*///////////////////////////////////////////*/
/*/////// RODAPÉ*/
#rodape {
    background: #0E0E0E;
    padding: 2em;
    display: grid;
    grid-template-areas: "logo links contato";
    grid-gap: 1em;
    color: #FEF9FF;
}

#rodape .logo {
    grid-area: "logo";
}

#rodape .links ul {
    grid-area: "links";
}

#rodape .links ul a {
 color: #FEF9FF;
 transition: all 0.3s ease;
}

#rodape .links ul a:hover {
    color: #7B00FF;
}

#rodape .contato {
    grid-area: "contato";
    display: grid;
    grid-template-areas: 
    "icones"
    "sac";
    justify-content: center;
}

#rodape .contato .icones {
    grid-area: "icones";
}

#rodape .contato .icones a img{
    width: 40px;
    height: 40px;
    margin-right: 1.5em;
    margin-bottom: 1em;
}

#rodape .contato .sac {
    grid-area: "sac";
}

@media (max-width: 799px) {
    #rodape {
        display: grid;
        grid-template-areas:
            "logo"
            "links"
            "contato";
        padding-left: 5em;
        justify-items: center;
    }

    #rodape .links {
        margin-top: 1em;
        width: 25%;
    }


    #rodape .contato {
        margin-top: 1em;
        margin-left: 1em;
    }
}


/*///////////////////////////////////////////*/
/* FORMULARIO DE CADASTRO*/

/* GERAL */
#formulario {
    margin-top: 75px;
    padding: 3em 2em;
}

.nav-logo-form {
    margin: 0.5em auto;
}

fieldset {
    margin: 0 auto;
}

#formulario label {
    font-size: 150%;
    color: #470094;
    font-family: "Montserrat Black";
    text-transform: uppercase;
    display: block;
    position: relative;
    margin: 1em 0 0.3em 0;
}

#formulario label:not(:first-of-type) {
    margin-top: 1rem;
}

#formulario input {
    width: 100%;
    height: 50px;
    padding: 0.5em;
    border: 1px solid #470094;
    border-radius: 5px;
}

fieldset button {
    background: linear-gradient(170deg, #7B00FF, #470094);
    width: 100%;
    height: 70px;
    margin: 40px auto;
    color: #FEF9FF;
    padding: 10px 0;
    border-radius: 5px;
    font-family: "Montserrat Black";
    text-transform: uppercase;
    font-size: x-large;
    letter-spacing: 0.1em;
    box-shadow: 0.5px 0.5px 10px 0.5px #7B00FF;
    border: none;
}

fieldset button:hover {
    background: #0060AF;
    transition: all 0.3s ease;
    box-shadow: 0.5px 0.5px 10px 0.5px #00335C;
    
}


/* BARRA DE PROGRESSO */
.container #progress-bar {
    display: flex;
    margin: 1em 0 4em 0;
    justify-content: space-around;
}

.step {
    text-align: center;
    width: 100%;
}

.step p {
    font-family: "Montserrat Black";
    text-transform: uppercase;
    margin-bottom: 8px;
    font-size: x-large;
    color: #470094;
}


.step .bullet {
    background: linear-gradient(180deg, #7B00FF, #470094);
    color: #FEF9FF;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
}

.step span {
    font-family: "Montserrat Black";
    text-transform: uppercase;
    font-size: 200%;
    line-height: 30px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%);
}

.step .bullet::after, .step .bullet::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 310px;
    background: #470094;
    bottom: 20px;
    right: -310px;
}

.step:last-child .bullet::after, 
.step:last-child .bullet::before {
    display: none;
}

.step .bullet::after {
    background: #70A3CC;
    transform: scaleX(0);
    transform-origin: left;
    animation: animate 1s linear forwards;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {
    .step .bullet::after, .step .bullet::before {
        width: 300px;
        right: -299px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .step .bullet::after, .step .bullet::before {
        width: 200px;
        right: -199px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .step .bullet::after, .step .bullet::before {
        width: 110px;
        right: -109px;
    }
}

@media (max-width: 575.98px) {
    .step .bullet::after, .step .bullet::before {
        width: 122px;
        right: -121px;
    }
}

/* VALIDAÇÃO DO FORMULÁRIO*/

.helper-text {
    display: none;
    font-size: .8rem;
    color: darkred;
}

.required-popup::after {
    content: "*Campo Obrigatório";
    position: absolute;
    top: 0;
    right: 0;
    color: darkred;
    font-size: .65rem;
    padding: .2rem .3rem;
    width: auto;
    display: block;
    margin-top: 1rem;
}

input.error {
    border: solid 2px #992020;
    background-color: #ccbbbb;
    color: #662020;
    border-radius: 5px;
}

input.correct {
    border: solid 2px #206620;
    color: #206620;
    border-radius: 5px;
}

.visible {
    display: block;
}






/*////////////////////////////////*/
/*///// MEDIA QUERIES P/ COPIAR*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {}