/*////////   GERAL */

* {
    padding: 0;
    margin: 0;
    font-family: 'roboto', sans-serif;
}


a:hover {
    text-decoration: none;
}

/*////////   BARRA DE NAVEGAÇÃO*/


.navbar {
    background: #7B00FF;
}

.navbar-collapse {
    background: #0060AF;
    height: 130px;
    text-transform: uppercase;
}


.navbar-collapse li a {
    color: #FEF9FF;
    margin-top: 80px;
}

.navbar-collapse li a:hover {
    color: #00335C;
    font-weight: bold;
    margin-top: 80px;

}

/*////////   SEÇÃO HOME - INDEX*/


#home {
    background: url(../img/bg\ home.png) no-repeat fixed;
    background-size: cover;
    height: 600px;
    margin-top: 30px;
}

#home h2 {
    font-family: 'gotham black', sans-serif;
    font-size: 1.9em;
    margin-bottom: 20px;
}

.card.card_home {
    background: #1e1e1e;
    color: #FEF9FF;
    width: 300px;
    height: 300px;
    text-transform: uppercase;
    padding: 20px 20px;
    font-style: italic;
    font-weight: bold;
}

@media (min-width: 500px) and (max-width: 991.98px) { 
    .card.card_home {
        margin: auto;
    }
}



/*////////   SEÇAO PLANOS*/

#planos {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#planos h1 {
    font-weight: bold;
    margin: 30px;
}

section .cards {
    display: flex;
    padding: 32px;
}

section .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem 1.5rem;
    color: #FEF9FF;
    border-radius: 10px;
    max-height: 900px;
    margin-left: 30px;
    box-shadow: 10px 10px 80px -30px #1e1e1e;
}

section .cards .card:first-child {
    margin-left: 0;
}

section .cards .card .icon {
    width: 350px;
    height: 230px;
}


section .cards .card h2 {
    margin: 10px 0px;
    background: #470094;
}

.valor {
    display: flex;
    align-items: center;
}

.cards .card .valor h3 {
    font-weight: bold;
    font-size: 900%;
    margin: 0px 10px;
}

.cards .card .valor h4 {
    max-width: 240px;
    margin-bottom: 20px;
}

#basic {
    background: #7B00FF;
}

#plus {
    background: #006692;
}

#premium {
    background: #00335C;
}

@media (max-width: 720px) { 
    .cards {
        flex-direction: column;
    }
    .cards .card {
        margin-left: 0;
        margin-bottom: 30px;
    }
    .cards .card:last-child {
        margin-bottom: 0;
    }
}



/*////////   RODAPÉ */

#rodape {
    background: #0E0E0E;
    margin-top: 30px;
    padding: 50px 0;
}

#rodape li a {
    color: #FEF9FF;
}

#rodape li a:hover {
    color: #7B00FF;
}

#rodape h5 {
    color: #FEF9FF;
    font-size: 1em;
}



/*////////   BOTÕES */

.btn-preto {
    background: #1e1e1e;
    border: 2px solid #1e1e1e;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;

}

.btn-preto:hover {
    background: #0E0E0E;
    border: 2px solid #0E0E0E;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-preto:active {
    background: #008CFF;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #470094;
    text-transform: uppercase;
    font-weight: bold;
}


.btn-roxo {
    background: #7B00FF;
    border: 2px solid #7B00FF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;    
}

.btn-roxo:hover {
    background: #470094;
    border: 2px solid #470094;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;    
}

.btn-roxo:active {
    background: #008CFF;
    border: 2px solid #008CFF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #00335C;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-azul1 {
    background: #0060AF;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}

.btn-azul1:hover {
    background: #00335C;
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}


.btn-azul2 {
    background: linear-gradient(to right, #0060AF, #006692);
    border: 2px solid #006692;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 25px;
}

.btn-azul2:hover {
    background: #006692;
    border: 2px solid #008CFF;
    border-radius: 5px;
    padding: 8px 25px;
    color: #FEF9FF;
    text-transform: uppercase;
    font-weight: bold;
}


/*
#planos {
    background: url(../img/bg_padrao.png) no-repeat fixed;
    background-size: cover;
    background-color: #FEF9FF;
}

#planos h1 {
    font-family: 'gotham black';
    color: #470094;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

#plano1 {
    height: 850px;
    width: 200px;
    background: #7B00FF;
    border-radius: 10px;
}

.topo_plano {
    height: 100px;
    background: #470094;
    border-radius: 10px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-family: 'gotham black';
    color: #FEF9FF;
    border: 1px solid red;
}

.telas_plano {
    height: 420px;
    color: #FEF9FF;
    text-align: center;
    border: 1px solid red;
}

.valor_plano {
    background: #470094;
    color: #FEF9FF;
    height: 180px;
    text-align: center;
    border: 1px solid red;
    text-transform: uppercase;
    padding: 10px;
}

.valor_plano h2 {
    font-weight: bold;
}

.botao_plano {
    height: 150px;
    text-align: center;
    border: 1px solid red;
    padding-top: 30px;
}




#plano2{
    height: 850px;
    width: 350px;
    background: url(../img/bg_plano2.png);
    background-size: cover;
    border-radius: 10px;
}

#plano2 button {
    width: 280px;
    height: 80px;
}

#plano3{
    height: 850px;
    width: 350px;
    background: url(../img/bg_plano3.png);
    background-size: cover;
    border-radius: 10px;
}

#plano3 button {
    width: 280px;
    height: 80px;
}

*/





/*////////   MEDIA QUERIES P/ COPIAR */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 

}


/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    
}

 