/*SEÇÃO HOME*/
#home {
    background: url(../img/bg\ home.png) no-repeat fixed;
    background-size: cover;
    margin: 0 auto;
    height: 600px;
}

#home h2 {
    font-family: "Montserrat Black", sans-serif;
    font-size: 1.7em;
    margin-bottom: 0.5em;
}

.card.card_home {
    background: #1e1e1e;
    color: #FEF9FF;
    width: 300px;
    height: 260px;
    text-transform: uppercase;
    padding: 1em;
    font-style: italic;
    font-weight: bold;
    margin-left: auto;
}

@media (min-width: 500px) and (max-width: 991.98px) {
    .card.card_home {
        margin: auto;
    }
}

/*SEÇAO PLANOS*/
#planos {
    display: flex;
    text-align: center;
    flex-direction: column;
}

#planos .display-4 {
    color: #470094;
}

#planos h2 {
    font-weight: bold;
    margin: 1em;
    text-transform: uppercase;
}

section .cards {
    display: grid;
    grid-template-areas:
        "basic plus premium";
    width: 100%;
    justify-content: space-around;
    padding: 1em;
}

#basic {
    background: #008CFF;
    grid-area: "basic";
}

#plus {
    background: #006692;
    grid-area: "plus";
}

#premium {
    background: #7B00FF;
    grid-area: "premium";
}

section .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #FEF9FF;
    border-radius: 10px;
    max-width: 400px;
    max-height: 800px;
    margin: 1em;
    box-shadow: 10px 10px 80px -30px #1e1e1e;
}

section .cards #basic .titulo {
    width: 100%;
    height: 15%;
    background: #006692;
    border-radius: 10px 10px 0 0;
}

section .cards #plus .titulo {
    width: 100%;
    height: 15%;
    background: #00335C;
    border-radius: 10px 10px 0 0;
}

section .cards #premium .titulo {
    width: 100%;
    height: 15%;
    background: #470094;
    border-radius: 10px 10px 0 0;
}

section .cards .card .icon {
    height: 400px;
    padding: 2em;
}

section .cards .card .icon h4 {
    margin: 1.5em;
}

#basic .valor {
    background: #006692;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#plus .valor {
    background: #00335C;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#premium .valor {
    background: #470094;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cards .card .valor h3 {
    font-weight: bold;
    font-size: 900%;
}

section .cards .card .botao {
    padding: 2em;
    width: 100%;
}


@media (min-width: 700px) and (max-width: 899.98px) {
    section .cards {
        display: grid;
        grid-template-areas:
            "basic plus"
            "premium premium";
    }
}

@media (max-width: 699.99px) {
    section .cards {
        display: grid;
        grid-template-areas:
            "basic"
            "plus"
            "premium";
    }
}

