#fundo {
    background: url(../img/bg\ home.png) no-repeat center fixed;
    background-size: cover;
    min-height: 90vh;
    padding: 0;
    margin-top: 81px;
    display: flex; 
}
.caixa {
    background-color: #1e1e1e;
    height: 450px;
    width: 500px;
    margin: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    color: #fef9ff;
    border-radius: 10px;
    padding: 20px;
}
form a{
    margin-left: 30px;
}
form button{
    display: flex;
    margin: 0 auto;
}
.caixaDigitar{
   width: 100%;
}