
main {
    margin-top: 70px;
}

/*TRAILER*/
#trailer {
    max-width: 100%;
    height: 40%;
    background: url(../img/banner-entrada.png) no-repeat top;
    background-size: cover;
}

.video-trailer {
    width: 100%;
    max-height: 100%;
}

#trailer img {
    width: 100%;
    max-height: 100%;
}

/*SINOPSE*/
#sinopse {
    background: #0E0E0E;
    color: #FEF9FF;
    padding: 3em 4em;
    box-shadow: 10px 10px 80px -20px #0e0e0e;
}

.movie-title {
    font-family: "Gotham Black", sans-serif;
    text-transform: uppercase;
}

.movie-genre {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.movie-description {
    font-family: "Roboto", sans-serif;
    margin-bottom: 2em;
}

.movie-details {
    display: grid;
    grid-template-areas: 
    "diracao duracao ano idade selo";
    grid-gap: 1em;
    margin-bottom: 1em;
}

.movie-details h5 {
    text-transform: uppercase;
    font-family: "Gotham Black", sans-serif;
}

.movie-details h6 {
    font-family: "Roboto", sans-serif;
    letter-spacing: 0.05em;
}

.selo img {
    width: 60px;
}

@media (max-width: 930px) { 
    .movie-details {
        display: grid;
        grid-template-areas: 
        "diracao duracao ano"
        "selo idade idade";
    }

    .movie-details .idade {
        grid-area: "idade";
        grid-column: "idade";
    }

    .movie-details .selo {
        grid-area: "selo";
        grid-column: "selo";
    }
}

/*AVALIACAO*/
#avaliacoes {
    background: #7B00FF;
    color: #FEF9FF;
    padding: 3em 4em;
}

#avaliacoes h3 {
    font-family: "Gotham Black", sans-serif;
    text-transform: uppercase;
}

.review {
    display: grid;
    grid-template-areas:
        "reviewer-icon review-text";
    margin: 2em 3em 2em 0;
}

.reviewer-icon {
    background: #008CFF;
    border-radius: 100px;
    width: 80px;
    height: 80px;
    text-align: center;
    margin-right: 1.5em;
    box-shadow: 10px 10px 80px -5px #00335C;
}

.reviewer-icon h1 {
    margin-top: 0.6em;
    font-family: "Gotham Black", sans-serif;
    text-transform: uppercase;
}

.user-stars {
    text-transform: uppercase;
}

.user-stars span {
    font-size: large;
}

.review-invitation {
    font-family: "Gotham Black", sans-serif;
    display: grid;
    grid-template-areas:
        "text review-stars";
}

.review-invitation .text2 {
    color: #0E0E0E;
}

.review-stars {
    font-size: 320%;
}

@media (max-width: 999px) { 
    .review-invitation {
        font-family: gotham black;
        display: grid;
        grid-template-areas: 
        "text"
        "review-stars";
    }
}